nb-matchup,
nb-edit-matchup,
nb-edit-correct-matchup {
  display: block;
}

.matchup {
  background-color: var(--sl-color-neutral-100);
  border-radius: var(--border-radius);
  font-size: var(--sl-font-size-x-small);
  box-shadow: var(--sl-shadow-large);
}

.nb-team {
  width: 100%;
  min-width: 9rem;
  height: 28px;

  display: inline-flex;
  align-items: center;
  padding: var(--sl-spacing-3x-small);
}

.nb-team:has(input:checked) {
  background-color: var(--sl-color-primary-50);
  border: 1px solid var(--sl-color-primary-300);
  border-radius: 5px;
}

input[type="radio"]:checked {
  accent-color: var(--sl-color-primary-700);
}

.champion-pick {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.correct,
.incorrect {
  padding-block: 0;
  height: 22px;
}

sl-icon[name="check-circle-fill"] {
  color: var(--sl-color-success-500);
}

sl-icon[name="x-circle-fill"] {
  color: var(--sl-color-danger-500);
}

label#top,
label#bottom {
  display: inline-flex;
  justify-content: center;
  gap: 0.25rem;
}

.team-img {
  width: 18px;
}

.loser-team {
  color: var(--sl-color-neutral-700);
}

.team-name {
  margin-right: auto;
}

.winner-img {
  padding: 0;
  width: 120px;
  height: 120px;
  min-width: 120px;
  min-height: 120px;
}

.round-one > nb-matchup,
.round-one > nb-edit-matchup,
.round-one > nb-edit-correct-matchup {
  padding: 31px 0;
}

.round-two > nb-matchup {
  padding: 73px 0;
}

.round-three > nb-matchup {
  padding: 201px 0;
}

.bracket-grid-edit .round-two > nb-matchup,
.cbracket-grid .round-two > nb-matchup,
.cbracket-grid-edit .round-two > nb-matchup,
.round-two > nb-edit-matchup,
.round-two > nb-edit-correct-matchup {
  padding: 95px 0;
}

.bracket-grid-edit .round-three > nb-matchup,
.cbracket-grid .round-three > nb-matchup,
.cbracket-grid-edit .round-three > nb-matchup,
.round-three > nb-edit-matchup,
.round-three > nb-edit-correct-matchup {
  padding: 223px 0;
}

.cbracket-grid-edit li > input[type="number"] {
  width: 30px;
  height: 18px;
  float: right;
  appearance: textfield;
  -moz-appearance: textfield;
}

.bracket-grid-edit li input[type="radio"],
.cbracket-grid-edit li input[type="radio"] {
  margin-right: 4px;
}

.bracket-grid,
.bracket-grid-edit,
.cbracket-grid,
.cbracket-grid-edit {
  max-width: 100%;
  display: grid;
  gap: 10px;
  grid-template-columns:
    [round-one-left] minmax(0, 1fr) [round-two-left] minmax(0, 1fr)
    [round-three-left] minmax(0, 1fr) [round-final] minmax(0, 2fr) [round-three-right] minmax(
      0,
      1fr
    )
    [round-two-right] minmax(0, 1fr) [round-one-right] minmax(0, 1fr);
}

.round-one-left {
  grid-area: round-one-left;
}

.round-two-left {
  grid-area: round-two-left;
}

.round-three-left {
  grid-area: round-three-left;
}

.round-final {
  min-width: 274px;
  grid-area: round-final;
}

.round-one-right {
  grid-area: round-one-right;
}

.round-two-right {
  grid-area: round-two-right;
}

.round-three-right {
  grid-area: round-three-right;
}

.final-round-grid {
  display: grid;
  grid-template:
    "top"
    "bottom";
}

.top {
  grid-area: top;
}

.bottom {
  grid-area: bottom;
}

.display-inline-flex {
  display: inline-flex;
}

@media screen and (max-width: 1400px) {
  .bracket-grid,
  .cbracket-grid,
  .bracket-grid-edit,
  .cbracket-grid-edit {
    grid-template:
      "round-one-left round-two-left round-three-left round-final"
      "round-one-right round-two-right round-three-right round-final";
  }
}

@media screen and (max-width: 992px) {
  .bracket-grid,
  .cbracket-grid,
  .bracket-grid-edit,
  .cbracket-grid-edit {
    overflow-x: scroll;
    box-shadow: var(--sl-shadow-x-large);
    padding: var(--sl-spacing-small);
  }
}

.champion-grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  grid-template-rows: auto;
  gap: 10px;
}

.championship-grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  grid-template-rows: auto;
  gap: 10px;
}

.champion-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.goals {
  width: 5rem;
}

nb-edit-correct-matchup input[type="number"] {
  width: 30px;
  height: 18px;
  appearance: textfield;
  -moz-appearance: textfield;
}

.round-details {
  display: inherit;
  width: 100%;
  text-align: center;
}

.bracket-details-content {
  font-weight: var(--sl-font-weight-bold);
  padding: var(--sl-spacing-x-small);
}

.bracket-details-label {
  white-space: nowrap;
  text-transform: uppercase;
  color: var(--sl-color-neutral-700);
  font-size: var(--sl-font-size-x-small);
  padding: var(--sl-spacing-x-small);
}

.bracket-sub-details {
  .bracket-details-content {
    font-size: var(--sl-font-size-x-small);
    padding: var(--sl-spacing-2x-small);
  }

  .bracket-details-label {
    font-size: var(--sl-font-size-2x-small);
    padding: var(--sl-spacing-2x-small);
  }
}

.sl-theme-light {
  .team-img[src="/static/images/MichiganSt.svg"] {
    filter: invert(52%) sepia(73%) saturate(219%) hue-rotate(144deg)
      brightness(90%) contrast(88%);
  }
}
