
.hero {
  position: relative;
  text-align: center;
  overflow: hidden;
}

li {
  list-style-type: none;
}

#bracket {
  font-size: 12px;
  padding: 20px 12px;
}

:root[data-bs-theme="dark"] .bg-body-secondary {
  background-color: rgb(26, 26, 26) !important;
}

.matchup {
  margin: 0;
  width: 100%;
  max-width: 175px;
  padding: 10px 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.score {
  float: right;
  color: #296ccb;
  font-weight: 600;
}

.team {
  padding: 5px;
  margin: 0;
  white-space: nowrap;
  opacity: 1;
  height: 28px;
  min-width: 125px;
  max-width: 175px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border-color: #adb5db !important;
  border-left: 1px solid;
  border-right: 1px solid;
}

:root[data-bs-theme="dark"] .team {
  border-color: #343a40 !important;
}

.red-border {
  border: 1px red solid !important;
}

.team:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top: 1px solid;
}

.team:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: 1px solid;
}

.bracket-grid-edit .team > label {
  width: 100%;
}

.center-text {
  text-align: center;
}

.champion {
  max-width: 175px;
  padding: 0 !important;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.final-game-score-edit {
  font-size: .9rem;
}

.winner-img {
  padding: 10px;
  width: 120px;
  height: 120px;
  min-width: 120px;
  min-height: 120px;
}

.correct {
  color: rgb(0, 128, 0);
  background-color: rgb(0, 128, 0, .05) !important;
}

.bg-correct,
.bg-correct > li {
  background-color: rgb(0, 128, 0, .05) !important;
}

.bg-correct > li,
.bg-incorrect > li {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: none;
}

.incorrect {
  color: red;
  text-decoration-line: line-through;
  background-color: rgb(255, 0, 0, .1) !important;
}

.bg-incorrect,
.bg-incorrect > li {
  background-color: rgb(255, 0, 0, .1) !important;
}

.goals {
  padding: 0 !important;
  border-radius: 0 !important;
  border: 1px solid;
  -moz-appearance: textfield;
  text-align: center;
  max-width: 50px;
  min-width: 50px;
  padding-right: 15px;
}

.round-details {
  font-size: 13px;
  color: #3d8bfd;
  text-transform: uppercase;
  text-align: center;
}

.round-one > .matchup {
  padding: 36px 0;
}

.round-two > .matchup {
  padding: 72px 0;
}

.round-three > .matchup {
  padding: 200px 0;
}

.bracket-grid-edit .round-two > .matchup,
.cbracket-grid .round-two > .matchup,
.cbracket-grid-edit .round-two > .matchup {
  padding: 100px 0;
}

.bracket-grid-edit .round-three > .matchup,
.cbracket-grid .round-three > .matchup,
.cbracket-grid-edit .round-three > .matchup {
  padding: 228px 0;
}

.cbracket-grid-edit li > input[type="number"] {
  width: 30px;
  height: 18px;
  float: right;
  appearance: textfield;
  -moz-appearance: textfield;
}

.bracket-grid-edit li input[type="radio"],
.cbracket-grid-edit li input[type="radio"] {
  margin-right: 4px;
}

.bracket-grid,
.bracket-grid-edit,
.cbracket-grid,
.cbracket-grid-edit {
  max-width: 100%;
  display: grid;
  gap: 10px;
  grid-template-columns: [round-one-left] minmax(0, 1fr) [round-two-left] minmax(0, 1fr) [round-three-left] minmax(0, 1fr) [round-final] minmax(0, 2fr) [round-three-right] minmax(0, 1fr) [round-two-right] minmax(0, 1fr) [round-one-right] minmax(0, 1fr);
}

.round-one-left {
  grid-area: round-one-left;
}

.round-two-left {
  grid-area: round-two-left;
}

.round-three-left {
  grid-area: round-three-left;
}

.round-final {
  min-width: 250px;
  grid-area: round-final;
  justify-content: center;
}

.round-one-right {
  grid-area: round-one-right;
}

.round-two-right {
  grid-area: round-two-right;
}

.round-three-right {
  grid-area: round-three-right;
}

.final-round-grid {
  display: grid;
  grid-template:
    'top'
    'bottom';
}

.top {
  grid-area: top;
}

.bottom {
  grid-area: bottom;
}

.display-inline-flex {
  display: inline-flex;
}

@media screen and (max-width: 1200px) {
  .bracket-grid,
  .cbracket-grid {
    overflow-x: scroll;
    grid-template:
      'round-one-left round-two-left round-three-left round-final'
      'round-one-right round-two-right round-three-right round-final';
  }
}

@media screen and (max-width: 1200px) {
  .bracket-grid-edit,
  .cbracket-grid-edit {
    overflow-x: scroll;
    grid-template:
      'round-one-left round-two-left round-three-left round-final'
      'round-one-right round-two-right round-three-right round-final';
  }
}

.champion-grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  grid-template-rows: auto;
  gap: 10px;
}

.championship-grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  grid-template-rows: auto;
  gap: 10px;
}

.team-img {
  display: none;
}
