
.hero {
  position: relative;
  text-align: center;
  overflow: hidden;
}

li {
  list-style-type: none;
}

#bracket {
  font-size: 12px;
  padding: 20px 10px;
}

.red-border {
  border: 1px red solid;
}

.matchup {
  margin: 0;
  width: 100%;
  max-width: 175px;
  padding: 10px 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.score {
  font-size: 11px;
  float: right;
  color: #2C7399;
  font-weight: bold;
}

.team {
  padding: 0 5px;
  margin: 0;
  white-space: nowrap;
  opacity: 1;
  height: 18px;
  min-width: 115px;
  max-width: 175px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.center-text {
  text-align: center;
}

.champion {
  max-width: 175px;
  padding: 0 !important;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.final-game-score-edit {
  font-size: .9rem;
}

.winner-img {
  padding: 10px;
  width: 70px;
  height: 70px;
}

.correct {
  color: rgb(0, 128, 0);
  background-color: rgb(0, 128, 0, .05) !important;
}

.incorrect {
  color: red;
  text-decoration-line: line-through;
  text-decoration-thickness: 2px;
  background-color: rgb(255, 0, 0, .05) !important;
}

.goals {
  border: none;
}

.round-details {
  font-size: 13px;
  color: #3d8bfd;
  text-transform: uppercase;
  text-align: center;
}

.round-one > .matchup {
  padding: 36px 0;
}

.round-two > .matchup {
  padding: 72px 0;
}

.bracket-grid-edit .round-two > .matchup,
.cbracket-grid .round-two > .matchup,
.cbracket-grid-edit .round-two > .matchup {
  padding: 90px 0;
}

.round-three > .matchup {
  padding: 180px 0;
}

.cbracket-grid-edit li > input[type="number"] {
  width: 30px;
  height: 18px;
  float: right;
  appearance: textfield;
  -moz-appearance: textfield;
}

.bracket-grid-edit li input[type="radio"],
.cbracket-grid-edit li input[type="radio"] {
  margin-right: 4px;
}

.bracket-grid,
.bracket-grid-edit,
.cbracket-grid,
.cbracket-grid-edit {
  max-width: 100%;
  display: grid;
  gap: 10px;
  grid-template-columns: [round-one-left] minmax(0, 1fr) [round-two-left] minmax(0, 1fr) [round-three-left] minmax(0, 1fr) [round-final] minmax(0, 1fr) [round-three-right] minmax(0, 1fr) [round-two-right] minmax(0, 1fr) [round-one-right] minmax(0, 1fr);
}

.round-one-left {
  grid-area: round-one-left;
}

.round-two-left {
  grid-area: round-two-left;
}

.round-three-left {
  grid-area: round-three-left;
}

.round-final {
  grid-area: round-final;
  justify-content: center;
}

.round-one-right {
  grid-area: round-one-right;
}

.round-two-right {
  grid-area: round-two-right;
}

.round-three-right {
  grid-area: round-three-right;
}

.final-round-grid {
  display: grid;
  grid-template:
    'top'
    'bottom';
}

.top {
  grid-area: top;
}

.bottom {
  grid-area: bottom;
}

@media screen and (max-width: 992px) {
  .bracket-grid,
  .cbracket-grid {
    grid-template:
      'round-final round-final round-final'
      'round-one-left round-two-left round-three-left'
      'round-three-right round-two-right round-one-right';
  }
}

@media screen and (max-width: 992px) {
  .bracket-grid-edit,
  .cbracket-grid-edit {
    grid-template:
      'round-one-left round-two-left round-three-left'
      'round-three-right round-two-right round-one-right'
      'round-final round-final round-final';
  }
}

@media screen and (max-width: 409px) {
  #bracket {
    overflow-x: auto;
  }
}

.champion-grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  grid-template-rows: auto;
  gap: 10px;
}

.championship-grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  grid-template-rows: auto;
  gap: 10px;
}