* {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol" !important;
}

#alerts {
  position: absolute;
  top: 60px;
  z-index: 99999;
}

.display-block {
  display: block !important;
}

body {
  background-color: var(--nb-background-color);
  color: var(--sl-color-neutral-950);
}

a {
  color: var(--sl-color-primary-700);
}

p {
  margin: 0;
}

.greyscale {
  filter: grayscale(0.5);
  opacity: 0.5;
}

:root[data-bs-theme="dark"] {
  .greyscale {
    filter: grayscale(0.5);
    opacity: 0.75;
  }
}

.nb-row {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.nb-row-sm {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.background-preview {
  border: 2px solid var(--sl-color-neutral-1000);
  width: 100px;
  height: 100px;
}

.cursor-pointer {
  cursor: pointer;
}

.width-fit-content {
  width: fit-content;
}

:not(:defined) {
  visibility: hidden;
  opacity: 0;
}

.navbar-nav {
  :not(:defined) {
    display: none;
  }
}

:defined {
  opacity: 1;
  transition: 0.2s opacity;
}

.display-inline-grid {
  display: inline-grid;
}

.color-neutral-700 {
  color: var(--sl-color-neutral-700);
}

.nb-dropdown {
  width: 150px;
}

.nb-menu-item {
  display: inline-block;
  width: 100%;
  /* padding: var(--sl-spacing-x-small) var(--sl-spacing-medium); */
}

.standings-img {
  width: 40px;
}

.standings-row {
  display: flex;
  align-items: center;
  gap: var(--sl-spacing-2x-small);
}

.name-cell {
  display: grid;
}

.standings-bracket-name {
  line-height: var(--sl-line-height-normal);
}

.standings-username {
  font-size: var(--sl-font-size-x-small);
  line-height: var(--sl-line-height-dense);
  color: var(--ag-data-color);
}

.nb-center {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
