.bracket-user-name {
    font-size: x-small;
}

.table-header {
    font-size: large;
    font-weight: bold;
}

.greyscale {
    filter: grayscale(1);
    opacity: .5;
}

.table-hover > tbody > tr:hover {
    background-color: lightgray;
    cursor: pointer;
}