.alert-absolute {
  position: absolute;
  z-index: 1;
  max-width: 500px;
  margin: -50px -.25rem 0 -.25rem;
}

.display-block {
  display: block !important;
}

:root[data-bs-theme="dark"] input {
  color-scheme: dark;
}

.bracket-user-name {
  font-size: x-small;
}

.greyscale {
  filter: grayscale(1);
  opacity: .5;
}

.table-hover > tbody > tr:hover {
  background-color: #ced4da;
  cursor: pointer;
}

:root[data-bs-theme="dark"] .table-hover > tbody > tr:hover {
  background-color: #1a1d20;
  cursor: pointer;
}

.dropdown-nb {
  user-select: none;
}
