.standings-row {
  display: flex;
  align-items: start;
  gap: var(--wa-space-2xs);
}

.name-cell {
  display: flex;
  flex-direction: column;
  gap: var(--wa-space-2xs);
  justify-content: center;
}

.standings-bracket-name {
  line-height: var(--wa-line-height-normal);
  text-wrap: wrap;
}

.standings-username {
  font-size: var(--wa-font-size-xs);
  line-height: var(--wa-line-height-condensed);
  color: var(--wa-color-text-normal);
}

.rank,
.trophy,
.group-size {
  color: var(--wa-color-text-normal);
}

nb-group-bracket-details {
  .my-brackets-groups::part(header) {
    padding: var(--wa-space-xs) var(--wa-space-s);
    line-height: initial;
  }

  .my-brackets-groups::part(content) {
    padding: var(--wa-space-xs);
  }

  .group-bracket-card {
    width: fit-content;
    /* max-width: 120px; */

    &::part(body) {
      padding: var(--wa-space-xs) var(--wa-space-s);
    }

    &.small::part(body) {
      /* padding: var(--wa-space-xs); */
      padding: var(--wa-space-2xs) var(--wa-space-xs);
    }

    .group-name {
      font-size: var(--wa-font-size-xs);
      line-height: var(--wa-line-height-normal);
      text-wrap: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 100px;
    }

    .trophy {
      font-size: var(--wa-font-size-l);
      min-width: var(--wa-font-size-m);
    }

    .rank {
      font-size: var(--wa-font-size-2xs);
      color: var(--wa-color-text-quiet);
      line-height: var(--wa-line-height-normal);
    }
  }
}

.nb-group-card {
  font-size: var(--wa-font-size-l);

  .group-name {
    font-size: var(--wa-font-size-l);
    line-height: var(--wa-line-height-normal);
  }

  .trophy {
    font-size: var(--wa-font-size-2xl);
    min-width: var(--wa-font-size-2xl);
  }

  .group-size {
    font-size: var(--wa-font-size-s);
  }

  .invite-others {
    font-size: var(--wa-font-size-m);
  }
}

.join-group-bracket {
  .bracket-details-content {
    font-size: var(--wa-font-size-xs);
    padding: 0;
  }

  .bracket-details-label {
    font-size: var(--wa-font-size-2xs);
    padding: 0;
  }
}

/* Min height for ag grids */
.ag-center-cols-viewport,
.ag-center-cols-container {
  min-height: 0 !important;
}

nb-search-groups {
  wa-card::part(body) {
    padding: var(--wa-space-s) 0;
  }

  .clickable-group {
    display: flex;
    width: 100%;
    padding: var(--wa-space-s) var(--wa-space-l);

    &:hover {
      background-color: light-dark(
        var(--wa-color-neutral-70),
        var(--wa-color-neutral-30)
      );
    }

    &:focus-visible {
      background-color: light-dark(
        var(--wa-color-brand-50),
        var(--wa-color-neutral-70)
      );
      color: light-dark(var(--wa-color-neutral-95), var(--wa-color-neutral-05));
    }
  }
}

nb-my-bracket-actions,
nb-my-group-bracket-actions {
  display: block;
}
