.archive-grid {
  display: grid;
  gap: var(--wa-space-l);
  grid-template-columns: repeat(1, 100%);
}

@media (min-width: 768px) {
  .archive-grid {
    grid-template-columns: repeat(2, 310px);
  }
}

@media (min-width: 1200px) {
  .archive-grid {
    grid-template-columns: repeat(3, 304px);
  }
}
