nb-chat-el > sl-drawer::part(base) {
  top: 56px;
  height: calc(100% - 56px);
}

nb-chat-el > sl-drawer::part(body) {
  padding-top: 0;
}

#chatButton {
  position: fixed;
  right: max(3%, 16px);
  bottom: 50px;
}

#messageList {
  height: calc(100% - 81px);
}

#messageList::part(base) {
  overflow: scroll;
  max-height: 100%;
  height: 100%;
}

#messageInput {
  flex-grow: 1;
}

nb-message-el {
  display: inline-flex;
  flex-direction: column;
  width: fit-content;
  max-width: 90%;
}

nb-message-el[right] {
  align-self: end;
  justify-content: end;

  sl-card {
    align-self: end;
  }
}

.message-text {
  white-space: pre;
  text-wrap: wrap;
}

.disable-scroll {
  height: 100%;
  overflow: hidden;
}
