nb-radio-item {
  display: block;
}

.nb-radio-item {
  --padding: 0;
  --border-width: 1px;

  label {
    padding: var(--sl-spacing-small);
    cursor: pointer;
  }

  &:has(input:checked) {
    --sl-panel-background-color: var(--sl-color-primary-50);
    --border-color: var(--sl-color-primary-300);
    border-radius: var(--sl-border-radius-medium);
  }
}
