nb-radio-item {
  display: block;
}

.nb-radio-item {
  --spacing: 0;
  border-width: 1px;

  label {
    padding: var(--wa-space-s);
    cursor: pointer;
  }

  &:has(input:checked) {
    background-color: var(--wa-color-brand-05);
    border-color: var(--wa-color-brand-30);
    /* border-radius: var(--wa-border-radius-medium); */
  }
}
