/* nb-standings > div > wa-card,
nb-my-brackets > div > wa-card,
nb-group-standings > div > wa-card {
  width: 100%;

  @media (min-width: 992px) {
    width: fit-content;
  }
}

nb-standings-grid,
nb-my-brackets-grid,
nb-group-standings-grid:not(.w-full),
nb-my-brackets > wa-card > div > wa-tab-group {
  display: block;

  @media (min-width: 576px) {
    width: 100%;
  }

  @media (min-width: 992px) {
    width: 807px;
  }
} */
