{% extends "base.html" %} {% block admin %}active{% endblock admin %} {% block
head %}

<title>Admin</title>
<script>
  const UPDATE_ALL_POINTS_URL = "{{ url_for('admin_bp.update_points') }}";
  const CORRECT_BRACKET_PAGE = "{{ url_for('admin_bp.update_correct') }}";
  const DEFAULT_BRACKET_PAGE = "{{ url_for('admin_bp.update_default') }}";
  const FLUSH_ENTIRE_CACHE_URL = "{{ url_for('admin_bp.flush_entire_cache') }}";
  const FLUSH_MAIN_CACHES_URL = "{{ url_for('admin_bp.flush_main_caches') }}";
</script>

{% endblock head %} {% block content %}

<nb-admin class="small-card"></nb-admin>

{% endblock content %}
