{% extends "base.html" %} {% block title %}Admin{% endblock title %} {% block
admin %}active{% endblock admin %} {% block content %}
<div class="flex justify-center flex-col">
  <h1 class="font-bold mb-10">Admin page.</h1>

  <div>
    <div class="mb-5">
      <sl-button
        variant="primary"
        href="{{ url_for('admin_bp.update_points') }}"
        >Update bracket points</sl-button
      >
    </div>
    <div class="mb-5">
      <sl-button href="{{ url_for('admin_bp.update_correct') }}"
        >Correct bracket page</sl-button
      >
      <sl-button href="{{ url_for('admin_bp.update_default') }}"
        >Default bracket page</sl-button
      >
    </div>
    <div class="mb-5">
      <sl-button
        variant="danger"
        outline
        href="{{ url_for('admin_bp.delete_brackets') }}"
        >Delete brackets page</sl-button
      >
    </div>
    <div class="mb-5">
      <sl-button
        variant="danger"
        href="{{ url_for('admin_bp.delete_default') }}"
        >Delete Default Bracket</sl-button
      >
      <sl-button
        variant="danger"
        href="{{ url_for('admin_bp.delete_correct') }}"
        >Delete Correct Bracket</sl-button
      >
    </div>
  </div>
</div>
{% endblock content %}
