{% extends "base.html" %}

{% block title %}Archive{% endblock title %}
{% block archive %}active{% endblock archive %}



{% block content %}
<script>
    function goToURL(url) {
        location.href = url;
    }
</script>

<div class="d-flex justify-content-center">
    <sl-card class="mb-5 width-fit-content">
        <div slot="header">
            <h2>Archive</h2>
        </div>
        Click on the cards below to view the standings and brackets of each respective year
    </sl-card>
</div>

<div class="archive-grid">
    {% for bracket in archived_years %}
        <sl-card class="cursor-pointer" onclick="goToURL(`{{ url_for('archive_bp.archive', year=bracket.bracket.year) }}`)">
            <div class="row mb-2">
                <div class="col">
                    <img width="75px" height="75px" src="/static/images/{{ bracket.img_url }}.svg" alt="{{ bracket.img_url }}"/>
                </div>
                <div class="col">
                    <h2>{{ bracket.bracket.year }}</h2>
                </div>
            </div>
            <div class="row">
                <h3><a href="{{ url_for('archive_bp.archive', year=bracket.bracket.year) }}">{{ bracket.bracket.winner }}</a></h3>
            </div>
        </sl-card>
    {% endfor %}
</div>

{% endblock content %}