<!DOCTYPE html>
<html
  lang="en"
  data-bs-theme="{{ theme }}"
  class="sl-theme-{{ theme }} {{ color }}-primary"
>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="NB Bracket Challenge. A site to create brackets for college hockey playoffs."
    />

    <link rel="manifest" href="/static/manifest.webmanifest" />

    <!-- Shoelace components -->
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.12.0/cdn/shoelace.js"
    ></script>

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <!-- This is only for error monitoring -->
    <script
      src="https://js.sentry-cdn.com/d1913311367ec68822f82f8ced7bc88f.min.js"
      crossorigin="anonymous"
      defer
    >
      if (window.Sentry) {
            Sentry.onLoad(function () {
              Sentry.init({
                release: "nbbracketchallengefront@1.0.13",
                environment: "production",
                replaysSessionSampleRate: 0,
                replaysOnErrorSampleRate: 1.0,
              });
            });
          }
    </script>

    <link href="/static/css/output.css" rel="stylesheet" />
    <link href="/static/css/light.css" rel="stylesheet" />
    <link href="/static/css/dark.css" rel="stylesheet" />
    <link href="/static/css/themes.css" rel="stylesheet" />

    <link
      rel="icon"
      href="{% block icon %}/static/images/logo.svg{% endblock icon %}"
    />
    <title>{% block title %}{% endblock title %}</title>
    <script src="/static/js/nb-theme-selector.mjs" type="module"></script>
    <script src="/static/js/nb-login.mjs" type="module"></script>
    <script src="/static/js/nb-signup.mjs" type="module"></script>
    <script
      src="/static/js/nb-password-reset-request.mjs"
      type="module"
    ></script>
    <script src="/static/js/nb-reset-password.mjs" type="module"></script>
    <script src="/static/js/nb-profile.mjs" type="module"></script>
    <script src="/static/js/nb-countdown.mjs" type="module"></script>
  </head>

  <style>
    @font-face {
      font-family: Inter;
      src: url("/static/fonts/Inter-VariableFont_slnt,wght.ttf");
    }
  </style>

  <script>
    const LOGIN_URL = "{{ url_for('auth_bp.login') }}";
    const SINGUP_URL = "{{ url_for('auth_bp.signup') }}";
    const PASSWORD_RESET_REQUEST_URL = "{{ url_for('auth_bp.password_request') }}";
    const PROFILE_URL = "{{ url_for('profile_bp.profile') }}";
    const USERNAME_UNIQUE_URL = "{{ url_for('auth_bp.username_unique') }}";
    const EMAIL_UNIQUE_URL = "{{ url_for('auth_bp.email_unique') }}";
    const THEME_URL = "{{ url_for('theme_bp.set_theme') }}";
    const THEME = "{{ theme }}";
    const CAN_EDIT_BRACKET = "{{ CAN_EDIT_BRACKET }}" == "True";
    const MY_BRACKET_COUNT = {{ MY_BRACKET_COUNT }};
    const CURRENT_YEAR = {{ CURRENT_YEAR }};
    const CREATE_STREAMCHAT_TOKEN_URL = "{{ url_for('auth_bp.create_streamchat_token') }}";
    {% if current_user.is_authenticated %}
    const CURRENT_USER = {{ current_user.to_dict()|tojson }};
    {% else %}
    const CURRENT_USER = {};
    {% endif %}

    // redirect to next if user logged in and next exists
    if (CURRENT_USER.id) {
      let nextURL = window.localStorage.getItem("next");
      window.localStorage.removeItem("next");
      if (nextURL) {
        if (window.location.pathname !== nextURL) {
          window.location.href = nextURL;
        }
      }
    }
  </script>

  <body
    class="{% if not backgroundColorMatches %}{{ backgroundColor }}-background{% endif %}"
    {%
    if
    backgroundColorMatches
    %}style="background-color: {{ backgroundColor }}"
    {%
    endif
    %}
  >
    {% include "navbar.html" %}

    <div class="container my-4 h-100">
      {% with messages = get_flashed_messages(with_categories=true) %}
      <div id="alerts" class="container d-flex justify-content-center">
        {% if messages %} {% for category, message in messages %}
        <sl-alert variant="{{ category }}" duration="5000" open closable>
          {{ message }}
        </sl-alert>
        {% endfor %} {% endif %}
      </div>
      {% endwith %} {% block content %}{% endblock content %}
    </div>

    <!-- Optional JavaScript -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
