<!doctype html>
<html
  lang="en"
  class="wa-{{ user_settings.settings.mode }} wa-cloak wa-theme-shoelace wa-palette-{{ user_settings.settings.color_palette }}"
  style="{% if user_settings.settings.rounding %}--wa-border-radius-scale:{{user_settings.settings.rounding}};{% endif %}"
>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="NB Bracket Challenge. A site to create brackets for college hockey playoffs."
    />

    <link rel="manifest" href="/static/manifest.webmanifest" />

    {% include "includes.html" %}

    <link
      rel="icon"
      href="{% block icon %}/static/images/logo.svg{% endblock icon %}"
    />
    <title>NB Bracket Challenge</title>

    <script>
        // URL for updating user settings
        const UPDATE_USER_SETTINGS =
          "{{ url_for('user_settings_bp.update_settings') }}"

        // URLs for user auth and user edits
        const LOGIN_URL = "{{ url_for('auth_bp.login') }}";
        const SIGNUP_URL = "{{ url_for('auth_bp.signup') }}";
        const PASSWORD_RESET_REQUEST_URL =
          "{{ url_for('auth_bp.password_request') }}";
        const USERNAME_UNIQUE_URL = "{{ url_for('auth_bp.username_unique') }}";
        const EMAIL_UNIQUE_URL = "{{ url_for('auth_bp.email_unique') }}";

        {% if current_user.is_authenticated %}
          const CURRENT_USER = {{ current_user.to_dict()|tojson }};
        {% else %}
          const CURRENT_USER = {};
        {% endif %}

        if (CURRENT_USER.id) {
          localStorage.removeItem("next");
        }

        const [month, day, year] = new Date()
        .toLocaleDateString(undefined, {
          year: "numeric",
          day: "2-digit",
          month: "2-digit",
        })
        .split("/");

      const CURRENT_DATE = `${year}-${month}-${day}`;
      const CAN_EDIT_BRACKET = "{{ CAN_EDIT_BRACKET }}" == "True";
      const MY_BRACKET_COUNT = {{ MY_BRACKET_COUNT }};
      const CURRENT_YEAR = {{ CURRENT_YEAR }};
    </script>

    {% block head %}{% endblock head %}
  </head>

  <style>
    @font-face {
      font-family: Inter;
      src: url("/static/fonts/Inter-VariableFont_slnt,wght.ttf");
    }
  </style>

  <body class="@container">
    <wa-page mobile-breakpoint="1024" navigation-placement="end">
      <header slot="header" class="flex justify-center">
        <div class="container max-w-324">
          <div class="wa-split flex-nowrap">
            <div class="wa-cluster">
              <!-- <nb-back-button></nb-back-button> -->
              <a class="wa-heading-xl" href="/">NB Bracket Challenge</a>
              {% if current_user.is_authenticated %}
              <a
                class="wa-desktop-only wa-heading-l"
                href="{{ url_for('mybrackets_bp.my_brackets') }}#"
                >My Brackets</a
              >
              <a
                class="wa-desktop-only wa-heading-l"
                href="{{ url_for('mybrackets_bp.my_brackets') }}#groups"
                >Groups</a
              >
              {% endif %}
              <a
                class="wa-desktop-only wa-heading-l"
                href="{{ url_for('leaderboard_bp.leaderboard') }}"
                >Leaderboard</a
              >
              <a
                class="wa-desktop-only wa-heading-l"
                href="{{ url_for('archive_bp.archive') }}"
                >History</a
              >
            </div>

            <div class="wa-cluster flex-nowrap">
              <div class="wa-cluster flex-nowrap">
                <nb-theme-selector></nb-theme-selector>
                {% if current_user.is_authenticated %}
                <wa-dropdown class="wa-desktop-only" placement="bottom-end"
                  ><wa-button
                    id="user-button"
                    appearance="plain"
                    slot="trigger"
                    with-caret
                    ><wa-icon
                      slot="start"
                      name="person-circle-outline"
                      library="ion"
                    ></wa-icon
                    >{{ current_user.username }}</wa-button
                  >
                  {% if current_user.role and current_user.role > 1 %}
                  <wa-dropdown-item
                    ><a href="{{ url_for('admin_bp.admin') }}"
                      >Admin</a
                    ></wa-dropdown-item
                  >
                  {% endif %}
                  <wa-dropdown-item
                    ><a href="{{ url_for('preferences_bp.preferences') }}"
                      >Preferences</a
                    ></wa-dropdown-item
                  ><wa-dropdown-item
                    ><a href="{{ url_for('profile_bp.profile') }}"
                      >Profile</a
                    ></wa-dropdown-item
                  ><wa-dropdown-item
                    ><a href="{{ url_for('auth_bp.logout') }}"
                      >Logout</a
                    ></wa-dropdown-item
                  >
                </wa-dropdown>
                {% else %}
                <a class="wa-desktop-only" href="{{ url_for('auth_bp.login') }}"
                  >Login</a
                >
                {% endif %}
              </div>

              <wa-button data-toggle-nav appearance="plain"
                ><wa-icon
                  library="ion"
                  name="menu-outline"
                  label="Menu"
                ></wa-icon
              ></wa-button>
            </div>
          </div>
        </div>
      </header>
      {% include "mobile-nav.html" %}

      <main class="wa-stack wa-align-items-center">
        <div id="content" class="container max-w-324">
          {% block content %}{% endblock content %}
        </div>
      </main></wa-page
    >

    <nb-alert-manager
      messages="{{ get_flashed_messages(with_categories=true) }}"
    ></nb-alert-manager>
  </body>
</html>
