{% extends "base.html" %}

{% block title %}Delete brackets{% endblock title %}
{% block delete %}active{% endblock delete %}

{% block content %}

    <div class="row">
        {% for b in brackets %}
            <div class="col-3 m-5">
                <a class="btn btn-outline-danger" href="{{ url_for('home.delete_bracket', id=b.id) }}">Delete {{ users[b.user_id].name }}'s<br>{{ b.name }}</a>
            </div>
        {% endfor %}

        <div class="col-3 m-5">
            <a class="btn btn-outline-danger" href="{{ url_for('home.delete_bracket', id='all') }}">Delete all brackets</a>
        </div>

    </div>

{% endblock content %}