{% extends "base.html" %}

{% block title %}My Bracket{% endblock title %}
{% block mybracket %}active{% endblock mybracket %}



{% block content %}
<script>
    const BRACKET_FORM_URL = "{{ url_for('editbracket_bp.edit_bracket') }}";
    const CANCEL_BRACKET_URL = "{{ url_for('viewbracket_bp.view_bracket') }}";
</script>


<div class="pb-5 d-flex justify-content-center mx-0">
    <div class="fs-1">
        {{ year }} NCAA College Hockey Bracket
    </div>
</div>

<nb-edit-bracket bracket="{{ bracket }}" default="{{ default }}"></nb-edit-bracket>

<script type="module" src="/static/js/editBracketEl.mjs"></script>

{% endblock content %}
