{% extends "base.html" %} {% block title %}{{ bracket.year }} Update Correct{%
endblock title %} {% block content %}

<script>
  const BRACKET_FORM_URL = "{{ url_for('admin_bp.update_correct') }}";
  const CANCEL_BRACKET_URL = "{{ url_for('admin_bp.update_correct') }}";
</script>

<nb-edit-correct-bracket
  bracket='{{ bracket|tojson }}'
  default='{{ default|tojson }}'
></nb-edit-correct-bracket>

<script type="module" src="/static/js/nb-edit-correct-bracket.mjs"></script>

{% endblock content %}
