<link
  id="theme"
  rel="stylesheet"
  href="/static/dist/esbuild/shoelace.ZL2FZDSL.css"
  render="blocking"
  fetchpriority="high"
/>
<link
  id="palette"
  rel="stylesheet"
  href=""
  render="blocking"
  fetchpriority="high"
/>

<script>
  const CSS_FILE_MAP = { 
    "base.palette": "/static/dist/esbuild/base.palette.CU2AYW2R.css",
    "bright.palette": "/static/dist/esbuild/bright.palette.4U3Z2VEM.css",
    "elegant.palette": "/static/dist/esbuild/elegant.palette.BESGV7HV.css",
    "mild.palette": "/static/dist/esbuild/mild.palette.ESAXWICN.css",
    "natural.palette": "/static/dist/esbuild/natural.palette.WGSI542K.css",
    "rudimentary.palette": "/static/dist/esbuild/rudimentary.palette.FM3GLSBJ.css",
    "shoelace.palette": "/static/dist/esbuild/shoelace.palette.VIT5FZA2.css",
    "vogue.palette": "/static/dist/esbuild/vogue.palette.FY32WZXZ.css",
    "anodized.palette": "/static/dist/esbuild/anodized.palette.N2MTE5BX.css",
  };

  const myPalette = "{{ user_settings.settings.color_palette }}";
  if (myPalette.length) {
    let paletteLink = document.getElementById("palette");
    paletteLink.href = CSS_FILE_MAP[myPalette + ".palette"] ?? "";
  }
</script>

<link 
  rel="stylesheet" 
  href="/static/dist/esbuild/bundle.QE32VMJP.css" 
  render="blocking" 
  fetchpriority="high"
/>

<script type="module">
  import {
    Theme
  } from "/static/dist/esbuild/theme.N44C4ZPO.mjs";
  window.THEME = new Theme({{ user_settings.settings|tojson }});
</script>
<script src="/static/dist/esbuild/main.DAX4726A.mjs" type="module" ></script>
<script src="/static/dist/esbuild/agGrid.YD523LOU.mjs" type="module" ></script>
<script src="/static/dist/esbuild/nb.VTNNRNGC.mjs" type="module" ></script>

<script
  src="https://js.sentry-cdn.com/d1913311367ec68822f82f8ced7bc88f.min.js"
  crossorigin="anonymous"
  defer
></script>
<script src="/static/dist/esbuild/sentry.U4IHWHXQ.mjs" type="module" defer></script>
