<link
  id="palette"
  rel="stylesheet"
  href=""
  render="blocking"
  fetchpriority="high"
/>

<script>
  const STATIC_FILE_MAP = {
    "/static/images/_logo.svg": "/static/dist/esbuild/_logo.bfdd2941c442f4ce.svg",
    "/static/images/AirForce.svg": "/static/dist/esbuild/AirForce.7bc60230c0b5afc6.svg",
    "/static/images/AlasAnchorage.svg": "/static/dist/esbuild/AlasAnchorage.3da1cdd6b7bfed49.svg",
    "/static/images/AlasFairbanks.svg": "/static/dist/esbuild/AlasFairbanks.3c72fd54f89936e8.svg",
    "/static/images/AmericanIntl.svg": "/static/dist/esbuild/AmericanIntl.2e86e3d5c7036077.svg",
    "/static/images/ArizonaSt.svg": "/static/dist/esbuild/ArizonaSt.ac20581519471f88.svg",
    "/static/images/Army.svg": "/static/dist/esbuild/Army.78cf4d0ad8913192.svg",
    "/static/images/Augustana.svg": "/static/dist/esbuild/Augustana.44677b0ae28c0567.svg",
    "/static/images/BemidjiSt.svg": "/static/dist/esbuild/BemidjiSt.b846d42722715dc4.svg",
    "/static/images/Bentley.svg": "/static/dist/esbuild/Bentley.a750968f975c16f5.svg",
    "/static/images/BostonCollege.svg": "/static/dist/esbuild/BostonCollege.d332cd6391938325.svg",
    "/static/images/BostonU.svg": "/static/dist/esbuild/BostonU.0ffe53923d73e16b.svg",
    "/static/images/BowlingGreen.svg": "/static/dist/esbuild/BowlingGreen.38972175d967f631.svg",
    "/static/images/bracketlogoborder.svg": "/static/dist/esbuild/bracketlogoborder.7403d66541eb3841.svg",
    "/static/images/Brown.svg": "/static/dist/esbuild/Brown.890ff62bd4dad27f.svg",
    "/static/images/Canisius.svg": "/static/dist/esbuild/Canisius.23e5ed2cd597d2ff.svg",
    "/static/images/Clarkson.svg": "/static/dist/esbuild/Clarkson.bd4a0f94680de8a7.svg",
    "/static/images/Colgate.svg": "/static/dist/esbuild/Colgate.8caf07a2eb0fc602.svg",
    "/static/images/ColoradoCol.svg": "/static/dist/esbuild/ColoradoCol.5e3ff22a5149f898.svg",
    "/static/images/Cornell.svg": "/static/dist/esbuild/Cornell.52908f16c353f814.svg",
    "/static/images/darklogo.svg": "/static/dist/esbuild/darklogo.361e0db818d133cc.svg",
    "/static/images/Dartmouth.svg": "/static/dist/esbuild/Dartmouth.99b08ba06fa344dd.svg",
    "/static/images/Denver.svg": "/static/dist/esbuild/Denver.aca1ee214b88940c.svg",
    "/static/images/FerrisSt.svg": "/static/dist/esbuild/FerrisSt.e5729b69e6605b24.svg",
    "/static/images/Harvard.svg": "/static/dist/esbuild/Harvard.cd8908076ee1d0eb.svg",
    "/static/images/HolyCross.svg": "/static/dist/esbuild/HolyCross.77bbb16c6db0de97.svg",
    "/static/images/LakeSuperiorSt.svg": "/static/dist/esbuild/LakeSuperiorSt.6f4d041126e5823a.svg",
    "/static/images/Lindenwood.svg": "/static/dist/esbuild/Lindenwood.cc5cfc8d3344ba4f.svg",
    "/static/images/logo-big.svg": "/static/dist/esbuild/logo-big.b32ef4b23f6ed260.svg",
    "/static/images/logo.svg": "/static/dist/esbuild/logo.964111c002476714.svg",
    "/static/images/logoWithBracket.svg": "/static/dist/esbuild/logoWithBracket.cca1a3f675862100.svg",
    "/static/images/LongIsland.svg": "/static/dist/esbuild/LongIsland.6cd1378da01e7a33.svg",
    "/static/images/Maine.svg": "/static/dist/esbuild/Maine.98cd760521771b13.svg",
    "/static/images/Massachusetts.svg": "/static/dist/esbuild/Massachusetts.071125facc19fe84.svg",
    "/static/images/Mercyhurst.svg": "/static/dist/esbuild/Mercyhurst.9fbc09fde021e625.svg",
    "/static/images/Merrimack.svg": "/static/dist/esbuild/Merrimack.9529c7dbaa03086f.svg",
    "/static/images/Miami.svg": "/static/dist/esbuild/Miami.db65b6b68e1bec78.svg",
    "/static/images/Michigan.svg": "/static/dist/esbuild/Michigan.2a79b916884d9572.svg",
    "/static/images/MichiganSt.svg": "/static/dist/esbuild/MichiganSt.ff076ffd2e6d6722.svg",
    "/static/images/MichiganTech.svg": "/static/dist/esbuild/MichiganTech.abb116e1af59d4be.svg",
    "/static/images/MinnDuluth.svg": "/static/dist/esbuild/MinnDuluth.11af58d9b399327d.svg",
    "/static/images/Minnesota.svg": "/static/dist/esbuild/Minnesota.796147b1a30dab58.svg",
    "/static/images/MinnesotaSt.svg": "/static/dist/esbuild/MinnesotaSt.ac531feb2be6ba63.svg",
    "/static/images/NewHampshire.svg": "/static/dist/esbuild/NewHampshire.c57cafc375a5703f.svg",
    "/static/images/Niagara.svg": "/static/dist/esbuild/Niagara.e11082a031b307d2.svg",
    "/static/images/NorthDakota.svg": "/static/dist/esbuild/NorthDakota.9a43f6cb6408fed3.svg",
    "/static/images/Northeastern.svg": "/static/dist/esbuild/Northeastern.3e29eede10a44950.svg",
    "/static/images/NorthernMich.svg": "/static/dist/esbuild/NorthernMich.cb7171c43046bd14.svg",
    "/static/images/NotreDame.svg": "/static/dist/esbuild/NotreDame.65686a0c6888bece.svg",
    "/static/images/OhioSt.svg": "/static/dist/esbuild/OhioSt.9fcebf07edf74986.svg",
    "/static/images/Omaha.svg": "/static/dist/esbuild/Omaha.995de3cbaa59787b.svg",
    "/static/images/PennSt.svg": "/static/dist/esbuild/PennSt.b527fa1154feafe4.svg",
    "/static/images/Princeton.svg": "/static/dist/esbuild/Princeton.7808cc7bf0047640.svg",
    "/static/images/Providence.svg": "/static/dist/esbuild/Providence.7591a59f60ffa1ea.svg",
    "/static/images/Quinnipiac.svg": "/static/dist/esbuild/Quinnipiac.37bdadb7d73b8e94.svg",
    "/static/images/Rensselaer.svg": "/static/dist/esbuild/Rensselaer.60391de207608bd5.svg",
    "/static/images/RobertMorris.svg": "/static/dist/esbuild/RobertMorris.7ec83af397356c42.svg",
    "/static/images/RochesterInst.svg": "/static/dist/esbuild/RochesterInst.6fbfd95ba7f723c4.svg",
    "/static/images/SacredHeart.svg": "/static/dist/esbuild/SacredHeart.57a58fcdcc929470.svg",
    "/static/images/StCloudSt.svg": "/static/dist/esbuild/StCloudSt.c4009d9aadf6db8d.svg",
    "/static/images/StLawrence.svg": "/static/dist/esbuild/StLawrence.b3298ffcd5324bd9.svg",
    "/static/images/Stonehill.svg": "/static/dist/esbuild/Stonehill.97ebee893f49e8a4.svg",
    "/static/images/StThomas.svg": "/static/dist/esbuild/StThomas.aa2abfd754301fdb.svg",
    "/static/images/UConn.svg": "/static/dist/esbuild/UConn.c5f1d46ca624715f.svg",
    "/static/images/UMassLowell.svg": "/static/dist/esbuild/UMassLowell.03d8c6771ec1105f.svg",
    "/static/images/Union.svg": "/static/dist/esbuild/Union.4abdae772e659939.svg",
    "/static/images/Vermont.svg": "/static/dist/esbuild/Vermont.45371af5d1e5f5c4.svg",
    "/static/images/WesternMich.svg": "/static/dist/esbuild/WesternMich.76cd39b1d80026d2.svg",
    "/static/images/Wisconsin.svg": "/static/dist/esbuild/Wisconsin.95e290d81bb86f62.svg",
    "/static/images/Yale.svg": "/static/dist/esbuild/Yale.b21f2de9498a490e.svg",
    "/static/json/2025.conference.json": "/static/dist/esbuild/2025.conference.8db7ab6fd84d50ed.json",
    "/static/json/2025.games.json": "/static/dist/esbuild/2025.games.79b90293deee9126.json",
    "/static/json/2025.krach.json": "/static/dist/esbuild/2025.krach.36a87b9093029b9f.json",
    "/static/json/2025.npi.json": "/static/dist/esbuild/2025.npi.8fe43e4f8100f23d.json",
    "/static/json/2026.conference.json": "/static/dist/esbuild/2026.conference.622308831166fd15.json",
    "/static/json/2026.games.json": "/static/dist/esbuild/2026.games.3773207d4803b356.json",
    "/static/json/2026.krach.json": "/static/dist/esbuild/2026.krach.5931da0f5b71d910.json",
    "/static/json/2026.npi.json": "/static/dist/esbuild/2026.npi.bb50afef50e9be82.json",
    "anodized.palette": "/static/dist/esbuild/anodized.palette.N2MTE5BX.css",
    "base.palette": "/static/dist/esbuild/base.palette.CU2AYW2R.css",
    "bright.palette": "/static/dist/esbuild/bright.palette.4U3Z2VEM.css",
    "elegant.palette": "/static/dist/esbuild/elegant.palette.BESGV7HV.css",
    "mild.palette": "/static/dist/esbuild/mild.palette.ESAXWICN.css",
    "natural.palette": "/static/dist/esbuild/natural.palette.WGSI542K.css",
    "rudimentary.palette": "/static/dist/esbuild/rudimentary.palette.FM3GLSBJ.css",
    "shoelace.palette": "/static/dist/esbuild/shoelace.palette.VIT5FZA2.css",
    "vogue.palette": "/static/dist/esbuild/vogue.palette.FY32WZXZ.css",
  };

  const myPalette = "{{ user_settings.settings.color_palette }}";
  if (myPalette.length) {
    let paletteLink = document.getElementById("palette");
    paletteLink.href = STATIC_FILE_MAP[myPalette + ".palette"] ?? "";
  }
  const iconEl = document.getElementById("icon");
  iconEl.href = STATIC_FILE_MAP["/static/images/logo.svg"];
</script>

<link
  rel="stylesheet"
  href="/static/dist/esbuild/bundle.HZG3RZMO.css"
  render="blocking"
  fetchpriority="high"
/>

<script type="module">
  import {
    Theme
  } from "/static/dist/esbuild/theme.ZJZET7F7.mjs";
  window.THEME = new Theme({{ user_settings.settings|tojson }});
</script>
<script src="/static/dist/esbuild/main.2TREV4PV.mjs" type="module" ></script>
<script src="/static/dist/esbuild/agGrid.YD523LOU.mjs" type="module" ></script>
<script src="/static/dist/esbuild/nb.LNY2COSX.mjs" type="module" ></script>

<script
  src="https://js.sentry-cdn.com/d1913311367ec68822f82f8ced7bc88f.min.js"
  crossorigin="anonymous"
  defer
></script>
<script src="/static/dist/esbuild/sentry.F6VZ27LF.mjs" type="module" defer></script>
