{% extends "base.html" %}

{% block title %}Standings{% endblock title %}
{% block standings %}active{% endblock standings %}



{% block content %}
<script>
    function goToURL(url) {
        location.href = url;
    }
</script>

<div class="pb-5 d-flex justify-content-center mx-0">
    <div class="fw-bold fs-1">
        Standings
    </div>
</div>

{% if winner %}
    <div class="row justify-content-center mx-0 mb-5">
        {% if winner.tie and len(winner.winner) > 1 %}
            <div class="col-auto fs-3 border border-danger border-4 p-5">
                The winning brackets are
                {% for w in winner.winner %}
                    <div class="fw-bold">
                        {{ w.bracket.name }}
                    </div>
                {% endfor %}
                They were still tied after the total goals tiebreaker.
                <br>
                Congratulations to the winners
                {% for w in winner.winner %}
                    <div class="fw-bold">
                        {{ w.username }}
                    </div>
                {% endfor %}
            </div>
        {% elif winner.tie and len(winner.winner) == 1 %}
            <div class="col-auto fs-3 border border-danger border-4 p-5">
                There was a tie and <span class="fw-bold">{{ winner.winner[0].bracket.name }}</span> won the total goals tiebreak.
                <br>
                Congratulations to <span class="fw-bold">{{ winner.winner[0].username }}</span>!
            </div>
        {% else %}
            <div class="col-auto fs-3 border border-danger border-4 p-5">
                The winning bracket is <span class="fw-bold">{{ winner.winner[0].bracket.name }}</span> with <span class="fw-bold">{{ winner.winner[0].bracket.points }}</span> points.
                <br>
                Congratulations to <span class="fw-bold">{{ winner.winner[0].username }}</span>!
            </div>
        {% endif %}
    </div>
{% endif %}

<table class="table table table-striped {% if can_click %}table-hover{% endif %}">
    <thead>
        <tr class="">
            <th class="col-2">
                Rank
            </th>
            <th class="col-5 col-md-6">
                Bracket
            </th>
            <th class="col-2">
                Points
            </th>
            <th class="col-3 col-md-2">
                Max Points
            </th>
        </tr>
    </thead>

    <tbody>
        {% for bracket in brackets %}
            {% if can_click %}
                <tr class="" onclick="goToURL(`{{ url_for('home.view_bracket', id=bracket.bracket.id) }}`)">
                    <td class="col-2">
                        {{ bracket.rank }}
                    </td>
                    <td class="col-5 col-md-6">
                        <div class="row">
                            <div class="col-1">
                                <img width="25px" height="25px" src="/static/images/{{ bracket.img_url }}.svg" alt="{{ bracket.img_url }}"/>
                            </div>
                            <div class="col-11">
                                {{ bracket.bracket.name }}
                                <p class="bracket-user-name m-0">{{ bracket.username }}</p>
                            </div>
                        </div>
                    </td>
                    <td class="col-2">
                        {{ bracket.bracket.points }}
                    </td>
                    <td class="col-3 col-md-2">
                        {{ bracket.bracket.max_points }}
                    </td>
                </tr>
            {% else %}
                <tr class="">
                    <td class="col-2">
                        -
                    </td>
                    <td class="col-5 col-md-6">
                        <div class="row">
                            <div class="col-auto">
                                <img class="greyscale" width="25px" height="25px" src="/static/images/logo.png" alt="Logo"/>
                            </div>
                            <div class="col-auto">
                                {{ bracket.bracket.name }}
                                <p class="bracket-user-name m-0">{{ bracket.username }}</p>
                            </div>
                        </div>
                    </td>
                    <td class="col-2">
                        {{ bracket.bracket.points }}
                    </td>
                    <td class="col-3 col-md-2">
                        {{ bracket.bracket.max_points }}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>

{% endblock content %}