{% extends "base.html" %}

{% block title %}Home{% endblock title %}
{% block home %}active{% endblock home %}



{% block content %}

<div class="pb-5 d-flex justify-content-center mx-0">
    <div class="fw-bold fs-1">
        Standings
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Rank</th>
                <th scope="col">Bracket Name</th>
                <th scope="col">User Name</th>
                <th scope="col">Bracket Winner</th>
                <th scope="col">Points</th>
                <th scope="col">Max Points</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    1
                </td>
                <td>
                    Bracket name is...
                </td>
                <td>
                    Niklas
                </td>
                <td>
                    Boston College
                </td>
                <td>
                    69
                </td>
                <td>
                    169
                </td>
            </tr>
            <tr>
                <td>
                    2
                </td>
                <td>
                    Bracket name is...
                </td>
                <td>
                    Niklas
                </td>
                <td>
                    Boston College
                </td>
                <td>
                    69
                </td>
                <td>
                    169
                </td>
            </tr>
            <tr>
                <td>
                    3
                </td>
                <td>
                    Bracket name is...
                </td>
                <td>
                    Niklas
                </td>
                <td>
                    Boston College
                </td>
                <td>
                    69
                </td>
                <td>
                    169
                </td>
            </tr>
        </tbody>
    </table>

</div>

{% endblock content %}