{% extends "base.html" %} {% block head %}

<title>content="{{ og_title }}"</title>

{% endblock head %} {% block content %}

<form
  id="join-group-form"
  method="POST"
  action="{{ url_for('groups_bp.join_group', sqid=sqid) }}"
>
  {% if join_key %}
  <input class="hidden" name="join_key" value="{{ join_key }}" hidden />
  {% endif %}
</form>

<script>
  {% if current_user.is_authenticated %}
    document.getElementById("join-group-form").submit();
  {% else %}
    window.location.href = "{{ url_for('groups_bp.view_group', sqid=sqid, join_key=join_key) }}";
  {% endif %}
</script>
{% endblock content %}
