{% extends "base.html" %} {% block title %}My Brackets{% endblock title %} {%
block mybrackets %}active{% endblock mybrackets %} {% block content %}
<script src="https://cdn.jsdelivr.net/npm/ag-grid-community@31.0.3/dist/ag-grid-community.min.js"></script>
<script>
  const NEW_BRACKET_LINK = "{{ url_for('editbracket_bp.new_bracket') }}";
  const CREATE_GROUP_URL = "{{ url_for('groups_bp.create_group') }}";
  const SEARCH_URL = "{{ url_for('groups_bp.search_groups') }}";
  const DELETE_GROUP_BRACKET_URL =
    "{{ url_for('deletebracket_bp.delete_group_bracket', id=0) }}";
  const MY_BRACKETS_CONTENT_URL =
    "{{ url_for('mybrackets_bp.api_my_brackets') }}";
</script>
<link
  rel="preload"
  href="{{ url_for('mybrackets_bp.api_my_brackets') }}"
  as="fetch"
  crossorigin="anonymous"
/>

<nb-my-brackets theme="{{ theme }}"></nb-my-brackets>

<nb-create-group></nb-create-group>

<script type="module" src="/static/js/nb-my-brackets.mjs"></script>
<script type="module" src="/static/js/nb-create-group.mjs"></script>

{% endblock content %}
