{% extends "base.html" %} {% block mybrackets %}active{% endblock mybrackets %}
{% block head %}

<title>My Brackets</title>
<script>
  const CREATE_BRACKET_LINK =
    "{{ url_for('createbracket_bp.create_bracket') }}";
  const CREATE_GROUP_URL = "{{ url_for('groups_bp.create_group') }}";
  const GROUP_NAME_UNIQUE_URL =
    "{{ url_for('groups_bp.is_group_name_unique') }}";
  const SEARCH_URL = "{{ url_for('groups_bp.search_groups') }}";
  const MY_BRACKETS_CONTENT_URL =
    "{{ url_for('mybrackets_bp.api_my_brackets') }}";
</script>
<link
  rel="preload"
  href="{{ url_for('mybrackets_bp.api_my_brackets') }}"
  as="fetch"
  crossorigin="anonymous"
/>

{% endblock head %} {% block content %}

<nb-my-brackets class="medium-card"></nb-my-brackets>

<nb-create-group></nb-create-group>

{% endblock content %}
