<header slot="header" class="wa-split">
  <div class="wa-cluster">
    {% block backButton %}{% endblock backButton %}
    <a class="wa-heading" href="/">NB Bracket Challenge</a>
    {% if current_user.is_authenticated %}
    <a href="{{ url_for('mybrackets_bp.my_brackets') }}">My Brackets</a>
    {% endif %}
    <a href="#" class="wa-desktop-only">Leaderboard</a>
    <a href="#" class="wa-desktop-only">Archive</a>
  </div>
  <div class="wa-cluster wa-gap-xs">
    <nb-theme-selector></nb-theme-selector>
    {% if current_user.is_authenticated %}
    <wa-dropdown placement="bottom">
      <wa-button
        slot="trigger"
        variant="text"
        class="neutral font-size-medium"
        caret
      >
        {{ current_user.username }}
      </wa-button>
      <wa-menu class="nb-dropdown">
        {% if current_user.is_authenticated and current_user.role != None and
        current_user.role > 1 %}
        <wa-menu-item
          ><a class="nb-menu-item" href="{{ url_for('admin_bp.admin') }}"
            >Admin</a
          ></wa-menu-item
        >
        {% endif %}
        <wa-menu-item
          ><a
            class="nb-menu-item"
            href="{{ url_for('preferences_bp.preferences') }}"
            >Preferences</a
          ></wa-menu-item
        >
        <wa-menu-item
          ><a class="nb-menu-item" href="{{ url_for('profile_bp.profile') }}"
            >Profile</a
          ></wa-menu-item
        >
        <wa-menu-item
          ><a class="nb-menu-item" href="{{ url_for('auth_bp.logout') }}"
            >Logout</a
          ></wa-menu-item
        >
      </wa-menu>
    </wa-dropdown>

    {% else %}
    <a href="{{ url_for('auth_bp.login') }}">Login</a>
    {% endif %}
    <wa-icon-button data-toggle-nav name="bars" label="Menu"></wa-icon-button>
  </div>
</header>
<div class="wa-mobile-only" slot="navigation-header">
  <div class="wa-stack">
    <a class="wa-heading" href="/">NB Bracket Challenge</a>
    {% if current_user.is_authenticated %}
    <a href="{{ url_for('mybrackets_bp.my_brackets') }}">My Brackets</a>
    {% endif %}
    <a href="#" class="wa-desktop-only">Leaderboard</a>
    <a href="#" class="wa-desktop-only">Archive</a>
    <nb-theme-selector></nb-theme-selector>
    {% if current_user.is_authenticated %}
    <wa-dropdown placement="bottom">
      <wa-button
        slot="trigger"
        variant="text"
        class="neutral font-size-medium"
        caret
      >
        {{ current_user.username }}
      </wa-button>
      <wa-menu class="nb-dropdown">
        {% if current_user.is_authenticated and current_user.role != None and
        current_user.role > 1 %}
        <wa-menu-item
          ><a class="nb-menu-item" href="{{ url_for('admin_bp.admin') }}"
            >Admin</a
          ></wa-menu-item
        >
        {% endif %}
        <wa-menu-item
          ><a
            class="nb-menu-item"
            href="{{ url_for('preferences_bp.preferences') }}"
            >Preferences</a
          ></wa-menu-item
        >
        <wa-menu-item
          ><a class="nb-menu-item" href="{{ url_for('profile_bp.profile') }}"
            >Profile</a
          ></wa-menu-item
        >
        <wa-menu-item
          ><a class="nb-menu-item" href="{{ url_for('auth_bp.logout') }}"
            >Logout</a
          ></wa-menu-item
        >
      </wa-menu>
    </wa-dropdown>

    {% else %}
    <a href="{{ url_for('auth_bp.login') }}">Login</a>
    {% endif %}
  </div>
</div>
