{% extends "base.html" %} {% block standings %}active{% endblock standings %} {%
block head %}

<title>
  {% if year == CURRENT_YEAR %}Leaderboard{% else %}Archive {{ year }}{% endif
  %}
</title>
<script src="/static/js/nb-standings.mjs" type="module"></script>
<script>
  const LEADERBOARD_CONTENT_URL = "{{ content_url }}";
</script>
<link rel="preload" href="{{ content_url }}" as="fetch" />

{% endblock head %} {% block content %}

<nb-standings class="medium-card"></nb-standings>

{% endblock content %}
