{% extends "base.html" %} {% block title %}{% if year == current_year
%}Standings{% else %}Archive {{ year }}{% endif %}{% endblock title %} {% block
standings %}active{% endblock standings %} {% block content %}
<script src="https://cdn.jsdelivr.net/npm/ag-grid-community@31.0.3/dist/ag-grid-community.min.js"></script>
<script>
  const GRID_DATA = {{ standings|tojson }};
</script>

<div class="d-flex justify-content-center">
  <sl-card class="mb-5 width-fit-content">
    <div slot="header">
      <h2>{{ year }} Standings</h2>
    </div>
    <div>{{ message|safe }}</div>

    <nb-standings
    brackets='{{ standings|tojson }}'
    theme='{{ theme }}'
  ></nb-standings>
  </sl-card>
</div>

<!-- <div class="d-flex justify-content-center">
  <nb-standings
    brackets='{{ standings|tojson }}'
    theme='{{ theme }}'
  ></nb-standings>
</div> -->

<script src="/static/js/standings.mjs" type="module"></script>

{% endblock content %}
