{% extends "base.html" %}

{% block title %}{{ bracket.year }} Update Correct{% endblock title %}

{% block content %}

<script>
    const BRACKET_FORM_URL = "{{ url_for('admin_bp.update_correct') }}";
    const CANCEL_BRACKET_URL = "{{ url_for('admin_bp.update_correct') }}";
</script>


<div class="pb-5 d-flex justify-content-center mx-0">
    <div class="fs-1">
        {{ year }} NCAA College Hockey Bracket
    </div>
</div>

<nb-edit-correct-bracket bracket="{{ bracket }}" default="{{ default }}"></nb-edit-correct-bracket>

<script type="module" src="/static/js/editCorrectBracketEl.mjs"></script>

{% endblock content %}
