{% extends "base.html" %} {% block title %}{{ group.name }}{% endblock title %}
{% block standings %}active{% endblock standings %} {% block content %}
<script src="https://cdn.jsdelivr.net/npm/ag-grid-community@31.0.3/dist/ag-grid-community.min.js"></script>
<script>
  const CREATE_BRACKET_URL =
    "{{ url_for('editbracket_bp.new_bracket', group_id=group.id) }}";
  const JOIN_GROUP_URL = "{{ url_for('groups_bp.join_group', id=group.id) }}";
</script>

<nb-group-standings
  brackets='{{ brackets|tojson }}'
  winners='{{ winners|tojson }}'
  theme="{{ theme }}"
  group='{{ group|tojson }}'
  isMember="{{ is_member }}"
></nb-group-standings>

<script src="/static/js/nb-group-standings.mjs" type="module"></script>

{% endblock content %}
