{% extends "base.html" %} {% block title %}{{ group.name }}{% endblock title %}
{% block standings %}active{% endblock standings %} {% block content %}
<script src="https://cdn.jsdelivr.net/npm/ag-grid-community@31.0.3/dist/ag-grid-community.min.js"></script>
<script>
  const MY_BRACKETS_URL = "{{ url_for('mybrackets_bp.my_brackets') }}";
  const VIEW_GROUP_CONTENT_URL =
    "{{ url_for('groups_bp.api_view_group', sqid=group.id) }}";
</script>
<link
  rel="preload"
  href="{{ url_for('groups_bp.api_view_group', sqid=group.id) }}"
  as="fetch"
/>

<nb-group-standings theme="{{ theme }}"></nb-group-standings>

<script src="/static/js/nb-group-standings.mjs" type="module"></script>

{% endblock content %}
