{% extends "base.html" %} {% block title %}{{ name }}{% endblock title %} {%
block mybracket %}{{ active }}{% endblock mybracket %} {% block content %}
<script>
  const BRACKET_WINNER_IMAGE = "{{ bracket_winner_img }}";
  const CORRECT_WINNER_IMAGE = "{{ correct_winner_img }}";
  const IS_ME = "{{ my_bracket }}" === "True";
</script>


<nb-bracket
  bracket='{{ bracket|tojson }}'
  default='{{ default|tojson }}'
  correct='{{ correct|tojson }}'
></nb-bracket>

<script type="module" src="/static/js/bracketEl.mjs"></script>

{% endblock content %}
