{% extends "base.html" %} {% block standings %}active{% endblock standings %} {%
block head %}

<title>{{ group.name }}</title>

<script>
  const MY_BRACKETS_URL = "{{ url_for('mybrackets_bp.my_brackets') }}";
  const VIEW_GROUP_CONTENT_URL =
    "{{ url_for('groups_bp.api_view_group', sqid=group.id) }}";
</script>
<link
  rel="preload"
  href="{{ url_for('groups_bp.api_view_group', sqid=group.id) }}"
  as="fetch"
/>

{% endblock head %} {% block content %}

<nb-group-standings class="medium-card"></nb-group-standings>

{% endblock content %}
