{% extends "base.html" %} {% block title %}{{ name }}{% endblock title %} {%
block mybracket %}{{ active }}{% endblock mybracket %} {% block content %}
<script>
  const BRACKET_WINNER_IMAGE = "{{ bracket_winner_img }}";
  const CORRECT_WINNER_IMAGE = "{{ correct_winner_img }}";
  const IS_ME = "{{ my_bracket }}" === "True";
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.8/dist/chart.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.2.0/dist/chartjs-plugin-datalabels.min.js"></script>

<nb-bracket
  bracket='{{ bracket|tojson }}'
  default='{{ default|tojson }}'
  correct='{{ correct|tojson }}'
></nb-bracket>

<script type="module" src="/static/js/nb-bracket.mjs"></script>

{% endblock content %}
