.my-brackets-groups::part(header) {
  padding: var(--sl-spacing-2x-small) var(--sl-spacing-x-small);
}

.my-brackets-groups::part(content) {
  padding: var(--sl-spacing-x-small);
}

.group-name {
  overflow: hidden;
  text-overflow: ellipsis;

  span {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.rank,
.trophy,
.group-size {
  color: var(--sl-color-neutral-950);
}

.group-card {
  --padding: var(--sl-spacing-x-small);
  width: fit-content;
  max-width: 120px;

  &.medium {
    --padding: var(--sl-spacing-x-small) var(--sl-spacing-small);
  }

  .group-name {
    font-size: var(--sl-font-size-x-small);
    line-height: var(--sl-line-height-dense);
  }

  .trophy {
    font-size: var(--sl-font-size-large);
    min-width: var(--sl-font-size-medium);
  }

  .rank {
    font-size: var(--sl-font-size-2x-small);
    color: var(--sl-color-neutral-800);
  }
}

.nb-group-card {
  font-size: var(--sl-font-size-large);

  .group-name {
    font-size: var(--sl-font-size-large);
    line-height: var(--sl-line-height-dense);
  }

  .trophy {
    font-size: var(--sl-font-size-2x-large);
    min-width: var(--sl-font-size-2x-large);
  }

  .group-size {
    font-size: var(--sl-font-size-small);
  }

  .invite-others {
    font-size: var(--sl-font-size-medium);
  }
}

.join-group-bracket {
  div {
    padding-inline: var(--sl-spacing-medium);

    &:not(:first-child) {
      border-left: 1px solid var(--sl-panel-border-color);
    }
  }

  .bracket-details-content {
    font-size: var(--sl-font-size-x-small);
    padding: 0;
  }

  .bracket-details-label {
    font-size: var(--sl-font-size-2x-small);
    padding: 0;
  }
}

/* Min height for ag grids */
.ag-center-cols-viewport,
.ag-center-cols-container {
  min-height: 0 !important;
}

nb-search-groups {
  sl-popup::part(popup) {
    z-index: var(--sl-z-index-drawer);
  }

  sl-popup {
    sl-menu {
      --sl-panel-background-color: var(--sl-color-neutral-0);
      box-shadow: var(--sl-shadow-x-large);
      border-width: 0px;
    }
  }
}

nb-my-bracket-actions,
nb-my-group-bracket-actions {
  display: block;
}
