html {
  --wa-space-scale: 1 !important;
  /* --wa-border-radius-scale: 2.9; */
  --wa-border-width-scale: 1 !important;
  --wa-form-control-padding-block: 0.6em !important;
  --wa-form-control-padding-inline: 1em !important;
  --nb-background-color: var(--wa-color-surface-default);
  wa-scroller {
    --shadow-color: var(--nb-background-color);
  }

  --wa-color-surface-super-raised: light-dark(
    var(--wa-color-neutral-90),
    var(--wa-color-neutral-20)
  );
  --wa-color-surface-raised: light-dark(
    var(--wa-color-neutral-95),
    var(--wa-color-neutral-10)
  );
  --wa-color-surface-default: light-dark(white, var(--wa-color-neutral-05));
  --wa-color-surface-lowered: light-dark(var(--wa-color-neutral-95), black);
}

wa-page,
main {
  background-color: var(--nb-background-color);
}

wa-page > main {
  padding: var(--wa-space-2xl) var(--wa-space-m) var(--wa-space-4xl);
}

wa-card:has(wa-card:not(.default-bg)) {
  & wa-card:not(.default-bg) {
    background-color: var(--wa-color-surface-super-raised);
  }
}

wa-card:has(wa-card:not(.default-border)) {
  & wa-card:not(.default-border) {
    border-color: light-dark(
      var(--wa-color-neutral-80),
      var(--wa-color-neutral-30)
    );
    box-shadow: var(--wa-shadow-l);
  }
}

.small-card {
  display: flex;
  justify-content: center;

  > wa-card {
    max-width: 100%;
    width: 27rem;
  }
}

.medium-card {
  display: flex;
  justify-content: center;

  > wa-card {
    max-width: 100%;
    width: 60rem;
  }
}

.large-card {
  display: flex;
  justify-content: center;

  > wa-card {
    max-width: 100%;
    width: 100%;
  }
}

wa-card:has(> a.clickable-card),
div:has(> a.clickable-card) {
  &::part(body) {
    padding: 0;
  }

  & > a.clickable-card {
    display: inline-block;
    width: 100%;
    height: 100%;

    text-decoration-line: none;
  }
}

wa-card.wa-card-p-0::part(body) {
  padding: 0;
}

wa-button.icon-button {
  line-height: normal;

  &::part(base) {
    padding: var(--wa-space-xs);
    width: auto;
    height: auto;
  }

  &.no-border::part(base) {
    border-width: 0;
  }
}

#alerts {
  position: absolute;
  z-index: 999999999;
  width: 100%;
  top: var(--wa-space-4xl);
}

.nb-tab-group-dialog {
  wa-tab-group::part(nav),
  wa-tab-panel::part(base) {
    padding-inline: var(--spacing);
  }

  &::part(body) {
    padding-inline: 0;
  }
}

wa-page {
  transition: all 0.001ms step-start;
}

.standings-img {
  width: 40px;
}

*:not(:defined) {
  border: 2px solid red;
}

nb-my-bracket-actions,
nb-my-group-bracket-actions {
  line-height: initial;
}

wa-dropdown-item:has(a) {
  padding: 0;

  a {
    display: inline-block;
    width: 100%;
    padding: 0.5rem 1rem;
  }
}

#scoreboard-button {
  position: fixed;
  bottom: 32px;
  right: 32px;
  z-index: 99999;
}

wa-drawer::part(dialog) {
  background-color: var(--wa-color-surface-default);
}
